body {
    background-color: #1e323f;
}

.main {
    margin: 0 auto;
    outline: 3px solid #78d0d0;
    width: 400px;
    height: 320px;
    margin-top: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.button_block {
    width: 350px;
    height: 80px;
    outline: 3px solid #78d0d0;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 100px;
    height: 40px;
    background-color: #78d0d0;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
}

.disable {
    color: grey;
}